{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/main.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'designs.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">

</head>
<body id="bod">
<div class="shadow" style=";alignment: center; width: 100%; min-height: 70%; background-color: aquamarine">

    <h1 class="title diag" id="ss"> Movie Finder <span id="username"></span></h1>
    <div style="background: #26547c; height:40px; width:100%; padding-bottom: 0 " ></div>


</div>


<br>
<br>
<br>


<div class="HolyGrail">

    <div class="HolyGrail-body">

        <main class="HolyGrail-content" style="align-items: center;">
            <p style="text-align: center; font-weight: bold; font-size: 20px">
                <span style="font-size: 30px;">Don't know what movie to watch next? </span> <br>
                <br>
                Rate a couple movies you've seen and get a personalized list of movies to watch.
            </p>
            <br>


            <form style="; align-content: center ;" id="menu" action='/external/'
                  method='POST'>
                <div style="">
                    <ul style="text-align: center">
                        <button type="button" id="search_movies" onclick="search_movie()" class="menu-button"> Search
                            Movies
                        </button>
                        <button type="submit" name="option" value="show" class="menu-button"> Show Movies To Rate
                        </button>
                    </ul>
                    <ul style="text-align: center">
                        <button type="submit" onclick="giveRec()" class="menu-button"
                                style="padding-left: 8%; padding-right: 8%; font-weight: bold" name="option"
                                value="result">
                            Suggest Movies
                            To Watch
                        </button>
                    </ul>
                </div>
            </form>

            <form action='/add_movie/' method='POST'>

                <div style="width: 95%; margin: auto; text-align: center">
                    {% csrf_token %}
                    <!--<img class="poster" style=" " src="/static/all_resources/backg.jpg">-->
                    {% for ind,i in movies.iterrows %}
                        <div class="movie-item">


                            <ul style=" ">
                                <li class="movie"><label>{{ i.title }}</label></li>
                                <li class="list-item">
                                    <button class="options"> skip</button>
                                    <button onclick="rate_move(this)" data-rate="1" data-movie="{{ i.title }}"
                                            type="button"
                                            name="but" class="options"> 1
                                    </button>
                                    <button onclick="rate_move(this)" data-rate="2" data-movie="{{ i.title }}"
                                            type="button"
                                            name="but" class="options"> 2
                                    </button>
                                    <button onclick="rate_move(this)" data-rate="3" data-movie="{{ i.title }}"
                                            type="button"
                                            name="but" class="options"> 3
                                    </button>
                                    <button onclick="rate_move(this)" data-rate="4" data-movie="{{ i.title }}"
                                            type="button"
                                            name="but" class="options"> 4
                                    </button>
                                    <button onclick="rate_move(this)" data-rate="5" data-movie="{{ i.title }}"
                                            type="button"
                                            name="but" class="options"> 5
                                    </button>
                                </li>
                            </ul>


                        </div>
                    {% endfor %}
                </div>

            </form>

            <form action='/add_new_movie/' method='POST'>

                <div style="width: 95%; margin: auto; text-align: center; background-color: #26547c">
                    {% csrf_token %}
                    <!--<img class="poster" style=" " src="/static/all_resources/backg.jpg">-->
                    {% if movie %}
                        <div class="movie-item">

                            <ul style=" ">
                                <li class="movie"><p>{{ movie }}</p></li>
                                <li class="list-item">
                                    <button type="submit" name="but" value="0" class="options"> haven't seen it</button>
                                    <button type="submit" name="but" value="1" class="options"> 1</button>
                                    <button type="submit" name="but" value="2" class="options"> 2</button>
                                    <button type="submit" name="but" value="3" class="options"> 3</button>
                                    <button type="submit" name="but" value="4" class="options"> 4</button>
                                    <button type="submit" name="but" value="5" class="options"> 5</button>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>

            </form>


            <div style="width: 95%; margin: auto; text-align: center;">
                {% for i,rr in result.iterrows %}
                    <div class="movie-item grad"  style="">
                        <ul style=" ">
                            <li class="movie" style="background-color: transparent"><p>{{ rr.title }}</p></li>
                        </ul>
                    </div>
                {% endfor %}

            </div>
        </main>
        <nav class="HolyGrail-nav">
            <section class="shadow"
                    style="background-color: #465c8b; margin-bottom:10%;padding: 10%; color: white; font-size: 16px; border-radius: 1%">
                <h1 style="font-size: 26px; background-color: #6a7bde; border-radius: 1%; padding: 4%; width: fit-content"> Instructions </h1>
                <p>
                    To find movies for you to watch we need to know your style and taste.<br> <br>

                    You can search for movies you've watched or see random movies and rate them out of five. <br>
                    after just rating 20 movies you've watched Click the "Suggest Movies to Watch" to get your
                    personalized
                    list"
                    <br>
                    <br>
                    ** The more you rate movies, the more accurate your recommendation would be
                </p>
            </section>

            <section class="shadow" style="background-color: #465c8b; padding: 10%; color: white; font-size: 16px; border-radius: 1%">
                <h1 style="font-size: 26px"> Feedback </h1>
                <p>
                    If you liked using this website or had any issues or suggestions, your feedback would greatly
                    help.<br> <br>

                    You can search for movies you've watched or see random movies and rate them out of five. <br>
                    after just rating 20 movies you've watched Click the "Suggest Movies to Watch" to get your
                    personalized
                    list"
                    <br>
                    <br>

                <form>

                    <textarea type="text" rows = "5" style="height: 20%; width: 100%; padding-bottom: 1%; margin-bottom: 2%"> </textarea>
                    <input type="button" value="submit feedback" class="menu-button">
                </form>
                <br>
                </p>
            </section>
        </nav>

        <aside class="HolyGrail-ads">

            <section class="shadow" style="background-color: #465c8b; padding: 10%; color: white; font-size: 16px; border-radius: 1%">
                <h1 style="font-size: 26px"> Account </h1>
                <p> you can sign in or sign up to have your rated movies saved so every time you watch another movie,
                    you can add to your list and get better recommendations ;)</p>
                <p>
                    To find movies for you to watch we need to know your style and taste.<br> <br>

                    You can search for movies you've watched or see random movies and rate them out of five. <br>
                    after just rating 20 movies you've watched Click the "Suggest Movies to Watch" to get your
                    personalized
                    list"
                    <br>
                    <br>
                    ** The more you rate movies, the more accurate your recommendation would be
                </p>
                <form>
                    <span> username </span>
                    <input type="text">
                    <span> password </span>
                    <input type="text"> <br>

                    <input type="button" value="signup" class="menu-button">
                </form>
            </section>
        </aside>
    </div>
</div>

</body>
</html>